@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  margin: 0;
  padding: 0;
}

.backgroundcolor {
  background-color: black;
  background-image: url("https://assets-global.website-files.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.bg {
  background-image: url("../assets/download.png");
  background-attachment: fixed;
}

/* .iconimage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 80% 50%;
} */

.text {
  color: transparent;
}

.iconimage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://space-portolio.vercel.app/mainIconsdark.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: 80% 50%; */
}

.gloss,
li {
  text-shadow: 1px 1px 5px;
}
