@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.backgroundcolor {
  background-color: black;
  background-image: url("https://assets-global.website-files.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.bg {
  background-image: url("../assets/download.png");
  background-attachment: fixed;
}
